* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

$tipografiaPrincipal:white 10px;
$colorprincipal:white;



main{
    .contact__mainContainer {
            min-height: 90vh;
            display: grid;
            align-items: center;
        }
        
        .contact__mainContainer .contact__form {
            display: grid;
            justify-content: center;
            align-items: center;
        }
        
        .contact__mainContainer .contact__form input {
            height: 2.5rem;
            padding: 1rem;
            outline: none;
            margin-bottom: 1rem;
        }
        
        .contact__mainContainer .contact__form textarea {
            padding: 1rem;
            resize: none;
            margin-bottom: 1rem;
        }
        .contact__form--buttonsContainer{
        
        }
        
    }

    


@import "header.scss";
@import "index.scss";
@import "contacto.scss";
@import "nosotros.scss";







